{% load leaflet_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Home</title>
        {% leaflet_js %}
        {% leaflet_css %}
        <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
        <style>
            body, html { height: 100%; }
            .leaflet-container { height: 100%; }
        </style>
	</head>
	<body>
		{% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {
            var dataurl = '{% url "data" %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data).addTo(map);
            });
        }
    </script>
	</body>
</html>
